body {
	background:#444444;
	color: #cacab0;
	text-align: center;
	font-family: Times New Roman, serif;
	box-shadow: 0 0 10em #222222;
	max-width: 80em;
	margin: auto;
	padding: 2em;
}

header > nav {
	background: #666666;
	font-weight: bold;
	font-size: 1.25em;
	margin-bottom: 1em;
	padding: 0.5em;
	letter-spacing: 0.125em;
	box-shadow: 0 0 0.5em #222222;
}

body > footer {
	background: #555555;
	margin-top: 4em;
	padding: 0.5em;
	box-shadow: 0 0 0.5em #222222;
}

article {
	max-width: 60em;
	margin: auto;
	text-align: left;
}

a {
	color: #e0e4ea;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr.vr {
    display: inline;
    width: 1px;
    border: 0;
    border-left: 1px solid #cacab0;
    margin: 0 1em;
    padding: 0;
}

h1, h2, h3 {
	color: #ceceba;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 0.25em;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 0em;
	line-height: 0;
}

h1 { font-size: 1.5em; }

h2 { font-size: 1.25em; }

h3 { font-size: 1.125em; }

blockquote {
	font-style: italic;
	text-align: left;
	padding: 1em 2em;
	margin: 1em 2em;
	max-width: 80em;
}

blockquote p {
	margin-bottom: 0;
}

blockquote p::before {
	font-size: 2em;
	line-height: 0;
	vertical-align:middle; 
	margin-left: -1ex;
	content: '\201C';
	content: open-quote;
}

blockquote p::after {
	content: '';
	content: no-close-quote;
}

blockquote p:last-of-type:after {
	font-size: 2em;
	line-height: 0;
	vertical-align:middle; 
	content: '\201D';
	content: close-quote;
}

blockquote > footer {
	font-style: normal;
	text-align: right;
}

blockquote > footer::before {
	content: " ~ ";
}